<div class="page-wrapper">
  <h1>All the Skills</h1>

  <ul>
    <% @skills.each do |skill|%>
      <li>
        <%= link_to skill.skill_type, skill_path(skill.id) %>
      </li>

    <% end %>
  </ul>

</div>