<div class="page-wrapper">
  <h1><%= @skill.skill_type %></h1>
  <%= link_to 'Delete', skill_path(@skill.id), method: 'delete' %>
  <ul>
  Users with this skill:
    <% @skill.users.each do |user| %>
      <li>
        <%= link_to user.username, user_path(user.id) %>
      </li>
    <% end %>
  </ul>

</div>




