#login-page-wrapper, #edit-user-wrapper {
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
  /* border: 1px solid red; */

}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.form-wrapper {
  margin: 0 auto;
  /* border: 1px solid green; */
  width: fit-content;
}

.form-wrapper form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-wrapper span{
  font-weight: bold;
}

input[type='submit']{
  width: fit-content;
}

#add-skill{
  font-size: 0.8rem;
  font-weight: bold;
}

.skill-dropdown-button {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0 .5rem;
  width: fit-content;
  background-color: rgb(255, 255, 255);
}

.skill-dropdown-button:hover {
  background-color: rgba(0, 0, 0, 0.092);
}

.text-area{
  width: 100%;
  height: 4rem;
  font-family: sans-serif;
}

input{
  font-family: sans-serif;
}


