#login-page-wrapper, #edit-user-wrapper {
  width: fit-content;
  max-width: 800px;
  margin: 0 auto;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.form-wrapper {
  margin: 0 auto;
  width: fit-content;
}

.form-wrapper form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-wrapper span{
  font-weight: bold;
}

.edit-link {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0 .5rem;
  width: fit-content;
  background-color: rgba(252, 252, 0, 0.489);
  cursor: pointer;
}

.edit-link:hover {
  background-color: rgb(252, 252, 0);
}

.delete-link {
  border: 1px solid black;
  background-color: rgba(255, 0, 0, 0.373);
  border-radius: 0.25rem;
  padding: 0 .5rem;
  width: fit-content
  cursor: pointer;
}

.delete-link:hover{
  background-color: rgba(255, 0, 0, 0.715);
}

button, input[type='submit']{
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: .5rem;
  width: fit-content;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

#add-skill{
  font-size: 0.8rem;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0 .5rem;
  width: fit-content;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.skill-dropdown-button {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0 .5rem;
  width: fit-content;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.skill-dropdown-button:hover, #add-skill:hover, button:hover, input[type='submit']:hover {
  background-color: rgba(0, 0, 0, 0.092);
}

.text-area{
  width: 100%;
  height: 4rem;
  font-family: sans-serif;
}

input{
  font-family: sans-serif;
}


#middle{
  margin: 0 auto;
  text-align: center;
}