.field_with_errors {
  width:fit-content;
  outline: 3px solid rgba(255, 0, 0, 0.564);
  padding: .125rem;
  padding-top: 0;
  border-radius: .125rem;
}

#home-wrapper, #index-wrapper   {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  #home-wrapper {
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
}

.projects-wrapper, .tasks-wrapper {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 600px;
  min-width: 300px
}

.users-wrapper{
  border-radius: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  max-width: 700px
}

.skills-wrapper{
  border: 1px solid black;
  display: flex;

}

.project-box{
  border: 2px solid rgb(40, 40, 40);
  border-radius: 1rem;
  padding: 0.25rem;
  display: grid;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
  gap: 0.3rem;
  grid-template-columns: auto auto 10rem;
  /* grid-template-rows:  */
  grid-template-areas: 
  "title title priority"
  "desc desc due"
  "links . progress"
  "users users count"
}

.project-box h3, .project-box p{
  margin: 0;
}

.title{
  grid-area: title;
}

.title p {
  font-size: 0.8rem;
}

.project-description {
  grid-area: desc;
}

.owner-links{
  grid-area: links;
}



.task-count{
  grid-area: count;
}

.due{
  grid-area: due;
}

.project-user-container{
  grid-area: users;
}

.progress {
  grid-area: progress;
}

.unassigned-task-info{
  grid-area: users;
}

.priority-wrapper{
  grid-area: priority;
}

.status-wrapper{
  grid-area: count;
}

.priority, .status {
  border-radius: 8px;
  font-size: 0.8rem;
  width: 5rem;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
}
.urgent {
  background-color: red;
}
.high {
  background-color: rgb(255, 140, 0);
}
.medium {
  background-color: rgb(0, 189, 82);
}
.low {
  background-color: rgb(0, 79, 189);
}


.complete {
  background-color: green;
}
.in-progress {
  background-color: rgb(0, 157, 255);
}
.on-hold {
  background-color: orange;
}
.assigned {
  background-color: rgb(171, 0, 171);
}
.unassigned {
  background-color: red;
}

.new-link {
  border: 1px solid rgb(0, 0, 0);
  padding: .25rem;
  border-radius: .25rem;
  margin: 1rem 0;
  transition: 250ms;
  background-color: rgba(65, 105, 225, 0.393);
}

.new-link:hover {
  background-color: rgba(65, 105, 225, 0.804);
}

.user-info-box {
  border-radius: 4rem;
  min-width: 300px;
  display: grid;
  grid-template-areas: 
  "image name"
  "image username"
  "image date"
  "image . "
  "image projects"
  "image count"
  ;
  grid-template-columns: 8rem auto ;
}

.user-info-box:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
  background-color: rgba(0, 0, 0, 0.058);
  color: black;
  outline: 1px solid rgba(0, 0, 0, 0.181);
}

.user-info-box > .user-image {
  grid-area: image;
  /* border: 3px solid black */
}

.user-info-box > h4{
  grid-area: name;
  margin: 0;
}

.user-info-box > p{
  grid-area: username;
  margin: 0;
  align-self: top;
}

.proj-count {
  grid-area: projects;
  font-size: 0.8rem;
}
.user-info-box .task-count {
  /* grid-area: tasks; */
  font-size: 0.8rem;
}
.join-date {
  grid-area: date;
  font-size: 0.8rem;
}

#nothing-home {
  text-align: center;
}
