

.field_with_errors input {
  background-color: red;
}


/* Project Heading */
/* .project-header-container {
  display: grid;
  grid-template-areas: 
  "title title delete"
  "title title due"
  "title title priority"
  "users . progress";
  
} */
.project-header-container h1 {
  padding: 5px 0;
  grid-area: title;
  font-size: 1.3rem;
  margin: 0
}

/* .delete-link {
  grid-area: delete;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  padding: 0 0.5rem;
  font-size: 0.6rem;
  background-color: rgb(255, 66, 66);
  justify-self: right;
} */

.due {
  grid-area: due;
  padding: 0;
}
.progress {
  grid-area: progress;
}
.project-user-container {
  grid-area: users;
}
.priority-wrapper {
  grid-area: priority;
}
.priority {
  background-color: yellow;
  border-radius: 8px;
  font-size: 0.8rem;
  width: 5rem;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
}
.urgent {
  background-color: red;
}
.high {
  background-color: rgb(255, 140, 0);
}
.medium {
  background-color: rgb(0, 189, 82);
}
.low {
  background-color: rgb(0, 79, 189);
}

/* Project Descritpion  */



/* Project tasks */
.tasks-container {
  /* border: 1px solid rgb(230, 0, 255); */
}
.tasks-container h3 {
  margin: 0;
}

.tasks-container ul {
  margin: 0;
  height: 50vh;
  /* border: 1px solid red; */
  overflow: scroll  ;
}
.tasks-container li {
  border: 3px solid rgb(84, 84, 84);
  padding: 3px;
  border-radius: 8px;
  position: relative;
}

.task-title {
  font-size: 1.5rem;
}

.status {
  border-radius: 8px;
  font-size: 0.8rem;
  width: 5rem;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  position: absolute;
  right: 3px;
}

.complete {
  background-color: green;
}
.in-progress {
  background-color: rgb(0, 157, 255);
}
.on-hold {
  background-color: orange;
}
.assigned {
  background-color: purple;
}
.unassigned {
  background-color: red;
}

.task-description {
  margin: 0;
}

.task-due {
  font-size: 0.7rem;
}