


footer {
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
}


a{
  text-decoration: none;
  color: black;
}

.nav-link-img {
  height: 2rem;
  vertical-align: middle;
}

.logo {
  
  
  /* vertical-align: middle; */
  /* padding: 5px 0; */
}



li {
  list-style-type: none;
  margin: 0.5rem 0;

}

ul {
  padding: 0;
}

li > ul > li {
  font-size: 0.8rem;
  margin-left: 1rem
}